.courses {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.carousel-caption {
    height: 100%;
    width: 100%;
    background: rgba(7, 7, 7, 0.5);
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item {
    max-height: 580px;
}

.coockie {
    background-color: transparent;
    height: 60px;
    width: 60px;
    position: fixed-bottom;


}

.coockie>img {
    height: 100%;
    width: 100%;
}